.logo-wrapper {
	text-align: center;
	position: static;
}

.logo {
	position: static;
	margin-top: 60px;
}

.copy-button-wrapper {
	float: left;
	margin-top: 5px;
}

.code-wrapper {
	float: left;
}